@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab&display=swap');

// Fonts
$main-font: 'Raleway', sans-serif;
$ubfb-icon-font-size: 25px;

// Colors
$ubfb-color: #00afef;
$ubfb-icons-color: #a19d9d;
$ubfb-product-border: #f5f1f1;
$ubfb-imperor-white: white;

//Border-radius
$border-radius-desktop: 64px;
$border-radius-mobile: 24px;

// Animations
$ubfb-link-base-animation: transform 0.2s;
