<ubfb-top-bar></ubfb-top-bar>
<ubfb-side-bar>
  <div
    class="ubfb-viewport"
    style="
      display: flex;
    "
  >
    <router-outlet></router-outlet>
  </div>
<!--  <ubfb-dashboard></ubfb-dashboard>-->
</ubfb-side-bar>
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
<!--    <div style="background-color: red; height: 200px; width: 200px"></div>-->
