<ubfb-top-bar></ubfb-top-bar>
<ubfb-side-bar>
  <div
    class="ubfb-viewport"
    style="
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0 5% 0 5%;
    "
  >
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
    <div style="background-color: red; height: 200px; width: 200px"></div>
  </div>
</ubfb-side-bar>
