.ubfb-viewport {
  margin-top: 11rem;
}

@media(max-width: 920px) {
  .ubfb-viewport {
    margin-top: 8em;
  }
}

@media(max-width: 430px) {
  .ubfb-viewport {
    margin-top: 6rem;
  }
}

:host(.custom) {
  border-radius: 30px !important;
}
