<swiper
  [loop]="true"
  [allowTouchMove]="false"
  [autoplay]="{ delay: 1000, disableOnInteraction: false }"
  [pagination]="{ clickable: true }"
  [navigation]="true"
>
  <ng-container *ngFor="let slide of sliderArray">
    <ng-template data-swiper-autoplay="3000" swiperSlide>
      <img [src]="slide.img" [alt]="slide.alt" />
    </ng-template>
  </ng-container>
</swiper>

<!--<div-->
<!--  #carousel-->
<!--  id="car"-->
<!--  class="carousel slide carousel-fade"-->
<!--  [attr.data-bs-touch]="true"-->
<!--  [attr.data-bs-ride]="carousel"-->
<!--&gt;-->
<!--  <div class="carousel-inner" *ngFor="let slide of sliderArray" #carouselInner>-->
<!--    <div-->
<!--      #carouselItem-->
<!--      class="carousel-item carousel-animation"-->
<!--      [ngClass]="{ 'active': currentIndex === slide.index }"-->
<!--    >-->
<!--      <img [src]="slide.img" class="d-block w-100" alt="No image was loaded" />-->
<!--    </div>-->
<!--  </div>-->
<!--  <button-->
<!--    class="carousel-control-prev"-->
<!--    type="button"-->
<!--    [attr.data-bs-target]="carousel"-->
<!--    (click)="previousSlide()"-->
<!--  >-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button-->
<!--    class="carousel-control-next"-->
<!--    type="button"-->
<!--    [attr.data-bs-target]="carousel"-->
<!--    (click)="nextSlide()"-->
<!--  >-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->
