@import 'apps/ubfb-ui/src/assets/variables.scss';

.swiper {
  border-radius: $border-radius-desktop;
  color: #a19d9d;

  .swiper-container {
    width: 100%;
  }
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination-bullets {
  transition: all 0.1s ease-in-out;
  color: $ubfb-color !important;
  font-weight: bold;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  transform: scale(1.5);
}

.swiper-pagination-bullet:hover {
  transform: scale(1.5);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  swiper {
    border-radius: $border-radius-mobile !important;
  }
}



