@import "apps/ubfb-ui/src/assets/variables.scss";

:host {
  flex: 1;
  //max-width: 400px;
  min-width: 274px;
  box-sizing: border-box;
}

.card{
  margin-bottom: 16%;
  padding: 1rem;
  width: 100%;
  //border: 1px solid $ubfb-product-border;
  border: 1px solid black;
  border-radius: 40px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}


