@import '../../../../../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'apps/ubfb-ui/src/assets/variables.scss';

:host {
  font-family: $main-font;
}




mat-card {
  margin-bottom: 4%;
  //display: grid;
  height: fit-content;

  mat-card-header {
    padding: 2% 4% 0;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 4%;
  }

  mat-card-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    padding: 0 4% 4% 4%;
    justify-content: flex-start;
    //grid-template-columns: repeat(auto-fit, minmax(10%, 33%));
    //grid-column-gap: 4%;
    //grid-row-gap: 4%;
    //justify-content: center;
    //width: 100%;
  }

  border-radius: 64px;
}

//@media scree and (max-width: 1864px) {
//  mat-card-content {
//    grid-template-columns: repeat(3, 33%);
//  }
//}
